@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .toggle-button {
        display: block; 
    }
    body {
        height: auto; 
        overflow-x: hidden; 
    }

    main {
        flex-direction: column; 
        height: auto;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    aside {
        width: 100%; 
        height: auto; 
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        position: relative;
    }

    .Links {
        flex-direction: column; 
        margin: 0; 
        display: none; 
        flex-direction: column; 
        width: 100%; 
    }
    .Links.active {
        display: flex; 
    }

    aside li {
        padding: 15px; 
        font-size: 1em; 
    }
    .mySwiper {
        width: 100%; 
        height: auto; 
    }
    .swiper-slide {
        height: auto; 
    }
    .HomeContent {
        padding: 20px; 
        width: 90%; 
    }

    .SideImg {
        width: 100%;
        margin: 0;
        margin-top: 80px;
        right: 150px;
    }
    
    .SideImg img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .top-right-corner {
        right: -50px;
        top: -50px;
        rotate: 90deg;
    }
    .bottom-left-corner{
        top: -50px;
        left: -250px;
        margin-top: 400px;
    } 
    .about-me-divison {
        flex-direction: column;
    }

    .about-me-table {
        width: 100%;
        display: block; 
    }

    .about-me-table li {
        padding: 10px; 
        width: 100%; 
    }

    .skill-bar {
        width: 100%; 
    }

    .services {
        grid-template-columns: repeat(2, 1fr); 
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); 
    }

    .contactMe {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .contactinfo {
        text-align: left; 
    }

    .contactMe form {
        grid-template-columns: 1fr; 
    }

    .contactMe form input,
    .contactMe form textarea {
        width: calc(100% - 40px); 
        margin: 10px 0; 
    }

    .contactMe button {
        width: 100%; 
        margin: 10px 0; 
    }

    footer {
        font-size: 0.7rem; 
    }

    .copyright {
        margin-left: 0; 
        text-align: center;
    }

    .SocialLinks {
        margin: 0; 
        justify-content: center; 
    }

    .SocialLinks a {
        margin: 0 5px; 
    }
}